@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

#image-logo {
    width: 25px;
    height: 25px;
    margin: 8px;
}

nav {
    height: 46px;
    width: 100%;
    position: fixed;
    background-color: white;

}

nav>ul {
    display: flex;
    margin: 0 250px;
}

#links {
    display: flex;
}

#links li {
    margin: 10px 15px;
    font-weight: 600;
}

#home {
    background-color: #FFFC00;
    text-align: center;
    height: 100vh;
    padding: 60px 40px 40px;
}

#home>h1 {
    font-size: 48px;
    font-weight: 800;
    margin-top: 60px
}

.avatars {
    width: 350px;
    height: 300px;
}

.avatar-location {
    height: 120px;
    width: 300px;
    margin-top: 30px;
}

#home>h2 {
    margin-top: 70px;
}

#home>h2 a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 15px 60px;
    border-radius: 30px;
}

#avatar-div {
    display: flex;
    margin-top: 60px;
}

footer {
    display: flex;
    flex-direction: column;
}

#first-footer {
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

#first-footer * h4 {
    font-size: 15px;
}

.footer-li>li {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.4);
    margin: 10px 0;
    font-size: 15px;
}

#second-footer {
    padding: 0 140px;
    margin-bottom: 20px;
}

#second-footer h4 {
    font-size: 15px;
    margin-bottom: 15px;
}


#selection select {
    color: rgba(0, 0, 0, 0.4);
    width: 200px;
    padding: 8px;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#third-footer {
    background-color: rgba(0, 0, 0, .87);
    display: flex;
    color: white;
    padding: 20px 140px;
}

#third-footer>h2 {
    font-size: 15px;
    font-weight: 100;
    margin-right: 30px;
}